.row {
  display: flex;
}
.title {
  padding: 0px 10px;
}
.add-contact {
  border: solid 1px gray;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  height: 100%;
}
.add-contact input,
.add-contact button {
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 0px;
}
.contacts {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0;
  width: 500px;
}
.contact {
  width: 100%;
  max-width: 500px;
  padding: 10px 20px;
  margin: 10px;
  list-style: none;
  border: solid 1px gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.contact-name {
  padding: 0px;
  margin: 0px 0px 10px;
}

.contact-number {
  padding: 0px;
  margin: 0px;
}
